body,html {
color:#555;
margin:0;
font-weight:bold;
font-size:16px;
font-family:sans-serif;
}


li a {
    vertical-align:center;
    text-align:center;
    font-size:16px;
    float:right;
}


a {
    color:#999;
    text-decoration:none;
}

.hidden {
    opacity:0.5;
}

ul {
    padding:0;
    margin:0 50px;
}

h1 {
    margin:30px 50px 0;
    background:#f3f3f3;
}

h1 a {
    padding:20px 25px;
    color:#555;
    display:inline-block;
    height:50px;
    line-height:50px;
}

li {
    list-style:none;
    line-height:18px;
    display:block;
    float:left;
    width:250px;
    padding:7px 5px 3px 7px;
    background:#f3f3f3;
    margin:7px 7px 0 0;
}

li img {
    height:36px;
    width:36px;
    margin:-2px;
    float:left;
    padding-right:7px;
}

/*li:nth-child(2n),li:nth-child(2n) a {background:#f3f3f3;border-color:#f3f3f3}*/

b {color:#999}


li a:hover {
    color:#17f;

}

#showset {
    margin:40px;
}

#showset img {
width:75px;
height:75px;
border:5px solid #f3f3f3;
margin:10px 0 0 10px;
}
