body,html {
margin:0;
padding:0;
font-weight:bold;
font-size:12px;
font-family:sans-serif;
background:#e9e9e9;
}

ul {
    position:relative;
    float:left;
    clear:both;
    padding:0;
    margin:0;
}

h2 {
display:inline;
}

li, .button {
    position:relative;
    font-weight:bold;
    list-style:none;
    line-height:41px;
    display:block;
    float:left;
    width:223px;
    height:50px;
    background:#fff;
    margin:12px 0 0 12px;
    cursor:pointer;
}

.button {
color:#fff;
text-shadow:1px 1px 2px #000;
background:#333;
-webkit-box-shadow:inset -1px -1px 2px #111;
font-size:15px;
line-height:50px
}

a, span {
    color:#555;
    text-decoration:none;
}


#visc {
    float:left;
    display:block;
    width:223px;
    height:50px;
    margin:7px 0 0 7px;
    background:#ddd;
    border:0;
    color:#555;
    font:bold 17px sans-serif;
    line-height:58px;
}

#vis:hover {
background:#d5d5d5;
cursor:pointer;
border-color:#c5c5c5;
color:#444;
}

.hide, .show, .update {
    display:block;
    top:-5px;
    right:-5px;
    height:60px;
    width:45px;
    vertical-align:center;
    font-size:13px;
    position:absolute;
    overflow:hidden;
    opacity:1;
    border:5px solid transparent;
    border-left:0;
    background:11px 26px no-repeat;
    cursor:pointer;
    color:transparent;
    opacity:0.6;
}

.update {
background:rgba(255,0,0,0.1) !important;
}

li a, li span {
    line-height:17px;
    padding:9px 6px 9px;
    display:block;
    width:159px;
    height:32px;
    margin:-5px 0;
    float:left;
}

li a {
    border:solid #e9e9e9;
    border-width:5px 0;
}

li a:first-child {
    border:0;
    width:50px;
    margin-left:-5px;
    height:50px;
    padding:5px 2px 5px 5px;
    -webkit-box-shadow:none !important;
    background:none !important;
}
li a:hover {
    -webkit-box-shadow:-7px 0 0 -5px #fd0,-11px 0 6px -5px rgba(255,200,0,0.6);
    -webkit-box-shadow:
        -7px 0 0 -5px #fb0,
        -11px 0 8px -5px rgba(255,200,0,0.6),
        inset 11px 0 6px -5px rgba(255,200,0,0.2),
        -15px 0 17px -12px rgba(0,0,0,0.5);
    background:-webkit-gradient(linear,left top,right top,from(#fffeee),to(#fff),color-stop(0.5,#fff));
}

i {
color:#999;
position:absolute;
display:block;
text-align:center;
padding-right:26px;
height:22px;
background:rgba(255,255,255,0.9);
bottom:0;
right:8px;
line-height:12px;
    -webkit-box-shadow:-14px -5px 10px -3px rgba(255,255,255,0.9),inset -4px 0 4px #fff;
}

li.unused a {
margin:-5px -138px -5px -5px;
padding:5px 140px 5px 5px;
z-index:2;
position:relative;
}

.hide, .show:hover {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAQCAYAAAD0xERiAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAd5JREFUeNqM089L03Ecx3Fdk9WspoGaFknroGTE9KBC4A9KCgr1EhKeEhFPEnXYoEun2E2wQzChS578E5TMiw4NcwexaERepJTyR3Nti/nj+YbXYsg35gcebHy+3+/783m/P+9PcTAYLCowinH4v4fhcPjff1eBIC24ilOowl3NOw63w1w31vEdfWjDGZzGAVbwFmcxifTxYPa7rxc60IAbqNF8Ru9ZQD/u44ctEgqFIqR6mJ9mFu14jIe4g2psYwkLmMcHrIkXYxgloOd4mg8wqAU28AtflIZPtbL09zCrMjzRN63GpZcGMKwd2i7uIYWfqFW6Jok4OjGBW3iPALubsWBNaMQmYiq6X+1Qhgr81e6vacED8eqZ1dXnUhrNmhjBlmriyTuYcn1ku63ERQWP4IoCv7Ngq9rBHzxTfWKaS+kkz6nXMnr+EVFcVhnscF66lM4b7SKAVwo0h0v4pI+Tqq8FeKTWqdeOe2iPnVxrTGjyOrowjc+4qRvg1gHU4YKCWhmWMU6gdH5rrOuEFlV86/inKNUCCR1EbnFLeRdD+OZ0nXbU2a/VY70o0Yde/dp8v1K0Wn3N7crpbsbV/TbO4wWmdCC3FSCquRNd9Nz4jefqq6zqmNAJO44jAQYA5j197DUGZy8AAAAASUVORK5CYII=);
}

.hide:hover, .show {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAQCAYAAAD0xERiAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZ1JREFUeNp81M0rLXEcx/FxHA95COm6hFBKRFnZ3N3NVinKwtrCSkQnS9kof4Cl4i+QUkcei7LRVcKVLCxw63rIwwkdjPdXn6np15kz9TKOmd/n9/1+Z46cRCLhZThyUIgilKAUubr2hke84gnpYFHcCbHF9ahFhUJTuAstsr836/yCI5wEYcZHCzp0wxn+qop3hfgKD363SmvQhUrsWFAd2pCPfdzgUwt9p/Xw5w9c4l6h31XZ4t2I3TPN0r0vpU5yY/x41jz8LCGecy2o0leL9rk5Hio5L7Sjn6Etz6nKVGk8DZiwynqxrbACp52okGCTckxi04JjutCJP4jpkbuL3Q3K0IdlDOIa/dbmkt4TCzzGLz2YtDMnO/9ED6qtrVD4AC6CmY1iTDda8Jok9SIXY1jD/oFWrbvFAR7C34AtnKIdTeiWGS/7sYoR/Pc0o+C41u5XWM8SMI1Z7GEDjVHfzaRamMIQFvAPc/italcU5OkN+IwK8/QfYVzv3qIqtTGc41AdBEc6vDAe0cqHzvN6irb7hQaeiur/S4ABAChuazOwZ2tEAAAAAElFTkSuQmCC);
}

.update {
    display:none;
    width:24px;
    background:center 9px url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAA2CAYAAACMRWrdAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAfFJREFUeNrsmM8rRFEUx99MHj008mPkZzZ+rFj4MQsb8RdYISEJG8nShhJ7NkopC2VrdhaIBSklNmQ1pWjIj2asMH5/b53F6TVvVvO4bzqnPvXmzn1v+sw999zT88VisR8jA8NvZGiImIiJmIiJmIiJmIiJmIiJmIhpHll/8BtvIAISoBYUeH3FHsEsqASNoBVUgTqwCOJuivlcejWwA0bAHfh2mFMBFmieJ1ZsHwyAKJMyQaFt3i2YBEts7J3GtVuxV9AFjtlYCAyCMnABwuCcfV8EDsEXGAdToE83MfXvT4MPWqVRGsthc15INMzGSml1n8ARaNctFU9JSkU1mLNJqcgFm6CZjT2QlAXKdSz3UXbdQGlmD7UyZw7355OcdmIJdh1I8ny1B3vANltZHla6sijdqRiwnWP2UFWvhc60oMP9lo5iIXYdsaWmQV2H2ncHYA+M0YFtsv2XraNYPzuvrsFKii2gupFVKjjLoA3UqEqt4zn2CbrBFn0uBjNgiAqDKhz3VN6tJGkapxT16yam4gp0gBtWEJpI0qDDuROsudmEu9UrnoBhcJlijmqQ573W3av9sktpWUJFwSSCtL/qvdjd88N4A6yDZxqbAL0gz8ti8mpAxERMxERMxERMxERMxERMxERMxERMxP4jfgUYAOlqb7SgDO86AAAAAElFTkSuQmCC);
}

.show:hover, .hide:hover, .update:hover {
opacity:1;
background-color:rgba(255,150,255,0.1);
border-color:#e9e9e9;
-webkit-box-shadow:inset 0 2px #95f,inset 0 -2px #83f,inset 0 7px 25px -12px #c3f,inset 0 -7px 25px -12px #c3f;
}


.hidden a {
opacity:0.4;
}
.hidden li:hover a {
opacity:1;
}

h1 a {
    padding:20px 25px;
    color:#555;
    display:inline-block;
    height:50px;
    line-height:50px;
}


li img {
    background:#ddd;
    height:50px;
    width:50px;
    margin:0;
}

li a:hover img {
margin:0 -2px;
border-left:2px #0063dc solid;
border-right:2px #ff0084 solid;
-webkit-box-shadow:-3px 0 10px -4px #0063dc,3px 0 10px -4px #ff0084,0 2px 3px #aaa;
}
/*li:nth-child(2n),li:nth-child(2n) a {background:#f3f3f3;border-color:#f3f3f3}*/

b {color:#999}




#showset {
    margin:40px;
}

#showset img {
width:75px;
height:75px;
border:5px solid #f3f3f3;
margin:10px 0 0 10px;
}
