$def with (photo,this_set,other_sets,prev,next,G)
<!DOCTYPE html>
<html>
<head>
    <title>$G.name</title>
    <link rel="stylesheet" href="${G.media}/style.css" />
</head>
<body>
    <a href="${G.root}">$G.name</a> ::  
        $if this_set:
            <a href="${G.root}set/$this_set.id/">$this_set.title</a> :: 
        <i>$photo.title</i>

    <h2>$photo.title</h2>
    <a href="$photo.flickr_url">
        <img class="thumbnail" src="$photo.img_urls['Medium']" 
            alt="$photo.title" title="$photo.title" />
    </a>
    
        <h2>&nbsp;</h2>
        <div style="padding-left: 10px;">
        <p style="text-align: justify;">$photo.desc</p>
        <p style="text-align: right;">
            <a href="$photo.flickr_url">$photo.comment_count comments</a>
        </p>
        </div>   
        $if this_set:
        <div>
            <div class="alignleft">
                $if prev:
                    <a href="${G.root}$prev.id/in/set-$this_set.id/">
                    <img class="thumbnail" src="$prev.img_urls['Square']" 
                            alt="Previous photo: $prev.title" 
                            title="Previous photo: $prev.title" />
                    </a>
                $else:
                    <img class="thumbnail"
                         src="http://www.flickr.com/images/placeholder_first_photo.gif" 
                            alt="No previous photo" title="No previous photo" />
            </div>    
            <div class="alignright">
                $if next:
                    <a href="${G.root}$next.id/in/set-$this_set.id/">
                    <img class="thumbnail" src="$next.img_urls['Square']" 
                            alt="Next photo: $next.title" title="Next photo: $next.title" />
                    </a>
                $else:
                    <img class="thumbnail"  
                         src="http://www.flickr.com/images/placeholder_last_photo.gif" 
                         alt="No next photo" title="No next photo" />
            </div>    
        </div>    
        
        $if other_sets:
            <div style="clear: right; padding: 2px; margin: 2px; ">
            <p style="text-align: left">This photo also belongs to:</p>
            <ul>
            $for s in other_sets:
                <li><a href="${G.root}set/$s.id/">$s.title</a></li>
            </ul>
            </div>    
