$def with (photoset,primary,photos,G)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>$G.name - $photoset.title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="${G.media}/style.css" />
</head>
<body>
    <a href="${G.root}">$G.name</a>
    :: <i>$photoset.title</i>

        <p>$photoset.desc</p>
        
    $for p in photos:
        <a href="${G.root}$p.id/in/set-$photoset.id/">
            <img class="thumbnail" src="$p.img_urls['Square']" 
                alt="$p.title" title="$p.title"/>
        </a>
    

