$def with (sets,imgs)
<!doctype html><html><head><title>Sets</title><link rel="stylesheet" href="/a.css"/><script type="text/javascript" src="/a.js"></script></head>
<body><h1><a href="/updatesetlist">Update Set List <b>[$len(sets)]</b></a><a href="/updateall">Update All Images<b>[$imgs]</b></a></h1><ul>
$for s in sets:
    <li \
    $if not s.visible:
        class="hidden"\
    ><img src="$s.thumb" />\
    $if s.visible:
        <a href=/hide/$s.id>&nbsp;Hide</a><a href=/update/$s.id>Update</a>\
    $else:
        <a href=/show/$s.id>&nbsp;Show</a>\
    $s.title<a style="clear:right;" href="/view/$s.id">$s.pcount</a></li>
</ul>
