/* Color scheme inspired by man~ja - a wordpress theme */

body
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height:1.2em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: left;
    background: #fff;
    width: 850px;
}

p {
    font-size: 12px;
}


a {
    text-decoration: none;
/*     font-weight: bold; */
    color: #555;
}

h2 {
    margin-left: 0.5em;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    font-size: 12px;
}


ul li:before {
    content: "\00BB \0020";
}

#header {
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    height: 20px;
    font-size: 11px;
    color: #333;
    background: #ff6;
}

#header a {
   display : inline;
   color: #000;
   font-weight: bold;
   padding-left: 2px;
   padding-right: 2px;
}


#page {
    width: 95%;
    margin: 0 auto;
    background: #fff;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

#main {
/*     width: 95%; */
    margin: auto;
}

.thumbs {
   font-size: 11px;
   text-align: center;
   text-decoration: none;
   float: left;
   margin: 4px;
   padding: 4px;
   /*width: 140px;
   height: 160px;*/
}

.thumbs a {
    font-weight: bold;
}

.thumbs a:hover {
    text-decoration: underline;
}
 
img.thumbnail {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    padding: 4px;
    margin: 4px;
}

#footer {
    clear: both;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    border: 1px solid #ccc;
/*    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;*/
    height: 20px;
    text-align: center;
    font-size: 11px;
    margin-bottom: 0;
/*     margin-top: 20px; */
    background: #ff6;
}

#footer p {
    margin: auto;
    padding: 3px;
    text-align: center;
    color: #333;
    font-size: 11px;
}
#footer a {
    text-decoration: none;
    font-weight: normal;
    color: #000;
}
#footer a:hover {
    text-decoration: underline;
    font-weight: normal;
    color: #000;
}
